*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto",sans-serif;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.goods-list{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 32px;
  grid-row-gap: 40px;
}
.menuContnent{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding: 32px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menuLink{
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.2s;
}
.menuLink:hover, .menuLink:active{
  color: #f16d7f;
}
.menuLink:not(:last-child){
  margin-right: 32px;
}
.bgimg {
  height: 280px;
  position: relative;
}
.bgimg .productImg{
  width: 100%;
  height: auto;
}

.bgimg-black {
  height: inherit;
  background-color: rgba(58, 56, 56, 0.83);
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.bgimg-black button {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  height: 39px;
  border: 1px solid #ffffff;
  padding: 10px 13px;
  box-sizing: border-box;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background: transparent;
}
.bgimg-black button img {
  margin-right: 8px;
}

.mobile{
  display: none;
}
.price {
  padding: 15px;
  box-sizing: border-box;
}
.price h3 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.price p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 17px;
  margin-bottom: 0!important;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.item:hover .bgimg-black {
  display: -ms-flex;
  display: flex;
}
.cartButton{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 48px;
  font-size: 24px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #333333;
  cursor: pointer;
}
.cartButton img{
  margin-right: 12px;
}
